{% extends "DiseaseDetectionApp/base.html" %}
{% block body_block %}
{% load static %}


<section class="" style="margin-top: 15em;">
    <div class="container">
        <div class="row">
          <form method = "post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-success">Upload</button>
            </form
            <div class="container">
              {% if image_path %}
                <img src="media/images/{{ image_path }}" alt="{{image_path}}" class="img-responsive" style="width: 10%; float: left; margin-right: 10px;" />
                <p>person {{ label }}</p>
              {% endif %}

            </div>
        </div>
    </div>
</section>



{% endblock %}
