{% extends "DiseaseDetectionApp/base.html" %}
{% load staticfiles %}

{% block body_block %}

<!-- <div class="jumbotron">

  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
    <h1>Register Here!</h1>
    <h3>Registeration Form:</h3>

    <form class="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ user_form.as_p }} -->
                                                          <!-- {{ profile_form.as_p }} -->
    <!-- <input type="submit" name="" value="Register">
    </form>

  {% endif %}

</div>  -->

<link rel="stylesheet" href="{% static 'DiseaseDetectionApp/css/signup.css' %}">

<section>

  <div class="animated bounceInDown">
    <div class="container loginform">
      <span class="error animated tada" id="msg"></span>
      <form name="form2" class="box" enctype="multipart/form-data" method="post" onsubmit="return checkStuff()">

        {% if registered %}
          <h4>Thank you for registering!</h4>
        {% else %}
        <h4>HealthCare<span> . AI</span></h4>
        <br>
        <h5>Sign Up to a new account.</h5>
        {% csrf_token %}
        <!-- {{ user_form.as_p }} -->
          <input type="text" name="username" maxlength="150" placeholder="Username" autocomplete="off">
          <input type="text" name="email" maxlength="254" placeholder="Email" autocomplete="off">
          <i class="typcn typcn-eye" id="eye"></i>
          <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
          <label class="label-rmb">
            <input type="checkbox">
            <span></span>
            <small class="rmb">Remember me</small>
          </label>
          <a href="#" class="forgetpass">Forget Password?</a>
          <input type="submit" value="Sign Up" class="btn1">
        {% endif %}
        </form>
        <a href="{% url 'user_login' %}" class="dnthave">Already Signed Up? Log in</a>
    </div>
  </div>
</section>

<script type="text/javascript" src="{% static 'DiseaseDetectionApp/js/signup.js' %}"></script>

{% endblock %}
